{{ if eq .chezmoi.os "darwin" -}}
set E:_ZO_RESOLVE_SYMLINKS = 1
{{ end -}}
eval (zoxide init elvish | slurp)

# Setup for zoxide development.
use zoxide

use github.com/zzamboni/elvish-completions/builtins
use github.com/zzamboni/elvish-completions/cd
use github.com/zzamboni/elvish-completions/comp
use github.com/zzamboni/elvish-completions/dd
use github.com/zzamboni/elvish-completions/evemu
use github.com/zzamboni/elvish-completions/git
use github.com/zzamboni/elvish-completions/ssh
use github.com/zzamboni/elvish-completions/vcsh
