tap "buo/cask-upgrade", trusted: true
tap "felixkratz/formulae", trusted: true
tap "nikitabobko/tap", trusted: true
tap "anomalyco/tap", trusted: true

brew "anomalyco/tap/opencode"
brew "aria2"
brew "atool"
brew "atuin"
brew "bandwhich"
brew "bash"
brew "bat"
brew "buf"
brew "chezmoi"
brew "direnv"
brew "eza"
brew "fd"
brew "felixkratz/formulae/borders"
brew "ffmpeg"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "git-recent"
brew "go"
brew "go-task"
brew "golangci-lint"
brew "herdr"
brew "httpie"
brew "hyperfine"
brew "jq"
brew "kafka"
brew "kafkactl"
brew "kcat"
brew "lazygit"
brew "litecli"
brew "llm"
brew "mas"
brew "mimalloc"
brew "mycli"
brew "neovim"
brew "node"
brew "nushell"
brew "pandoc"
brew "pgcli"
brew "pipx"
brew "pkg-config"
brew "poppler"
brew "protobuf"
brew "rbw"
brew "ripgrep-all"
brew "rsync"
brew "shellcheck"
brew "sqlc"
brew "starship"
brew "rustup"
brew "tokei"
brew "uv"
brew "vivid"
brew "watch"
brew "watchexec"
brew "yq"
brew "zig"
brew "zsh"

cask "android-ndk"
cask "beekeeper-studio"
cask "command-x"
cask "claude"
cask "claude-code@latest"
cask "cmux"
cask "cursor"
cask "domzilla-caffeine"
cask "font-ubuntu-mono-nerd-font"
cask "ghostty"
cask "google-chrome"
cask "iina"
cask "linearmouse"
cask "monitorcontrol"
cask "music-decoy"
cask "ngrok"
cask "nikitabobko/tap/aerospace"
cask "obsidian"
cask "postman"
cask "powershell"
cask "raycast"
cask "spotify"
cask "stats"
cask "stretchly", args: { no_quarantine: true }
cask "tg-pro"
cask "todoist-app"
cask "visual-studio-code"
cask "warp"
cask "wispr-flow"
cask "zed"
cask "zoom"

go "github.com/google/pprof"
go "github.com/go-delve/delve/cmd/dlv"

uv "argcomplete"
uv "poetry"

{{ if eq .chezmoi.hostname "odin" }}
cask "loom"
cask "orbstack"
cask "megasync"
cask "whatsapp"
{{ end }}

{{ if eq .chezmoi.hostname "shuri" }}
cask "docker-desktop"
cask "gcloud-cli"
cask "linear"
{{ end }}
