#!/usr/bin/env bash

set -euxo pipefail

if ! command -v brew &>/dev/null; then
    eval "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
eval "$(/opt/homebrew/bin/brew shellenv)"

brew analytics off
brew bundle --cleanup --no-upgrade --file=- <<EOF
tap "buo/cask-upgrade"
tap "felixkratz/formulae"
tap "hashicorp/tap"
tap "nikitabobko/tap"
tap "oven-sh/bun"

brew "aria2"
brew "atool"
brew "atuin"
brew "bandwhich"
brew "bash"
brew "bat"
brew "buf"
brew "chezmoi"
brew "direnv"
brew "eza"
brew "fd"
brew "felixkratz/formulae/borders"
brew "ffmpeg"
brew "fish"
brew "fzf"
brew "gemini-cli"
brew "gh"
brew "git"
brew "git-delta"
brew "git-recent"
brew "go"
brew "go-task"
brew "golangci-lint"
brew "hashicorp/tap/terraform"
brew "httpie"
brew "hyperfine"
brew "jq"
brew "k3d"
brew "k9s"
brew "kafka"
brew "kafkactl"
brew "kcat"
brew "litecli"
brew "llm"
brew "mas"
brew "mimalloc"
brew "mycli"
brew "neovim"
brew "nushell"
brew "pandoc"
brew "pgcli"
brew "pipx"
brew "pkg-config"
brew "poppler"
brew "protobuf"
brew "rbw"
brew "ripgrep-all"
brew "rsync"
brew "shellcheck"
brew "sqlc"
brew "starship"
brew "rustup"
brew "tokei"
brew "vivid"
brew "watch"
brew "watchexec"
brew "yq"
brew "zig"
brew "zsh"

cask "android-ndk"
cask "beekeeper-studio"
cask "command-x"
cask "claude"
cask "claude-code@latest"
cask "cursor"
cask "domzilla-caffeine"
cask "font-ubuntu-mono-nerd-font"
cask "ghostty"
cask "google-chrome"
cask "iina"
cask "linearmouse"
cask "monitorcontrol"
cask "music-decoy"
cask "ngrok"
cask "nikitabobko/tap/aerospace"
cask "notion"
cask "obsidian"
cask "postman"
cask "powershell"
cask "raycast"
cask "reader"
cask "spotify"
cask "stats"
cask "stretchly", args: { no_quarantine: true }
cask "tg-pro"
cask "todoist-app"
cask "visual-studio-code"
cask "warp"
cask "wispr-flow"
cask "zed"
cask "zoom"

{{ if eq .chezmoi.hostname "odin" }}
cask "orbstack"
cask "megasync"
cask "whatsapp"
{{ end }}

{{ if eq .chezmoi.hostname "shuri" }}
brew "pv"

cask "docker-desktop"
cask "gcloud-cli"
cask "granola"
cask "linear-linear"
{{ end }}
EOF

brew services restart atuin borders

rustup-init -y --no-modify-path --no-update-default-toolchain
rustup toolchain list | grep -q nightly || rustup toolchain install nightly
rustup default stable

[[ -f "${HOME}/.cargo/env" ]] && . "${HOME}/.cargo/env"
cargo install cargo-msrv cargo-ndk cargo-outdated cargo-udeps cargo-zigbuild flamegraph

gh extension install github/gh-copilot
go install github.com/google/pprof@latest
go install github.com/go-delve/delve/cmd/dlv@latest
pipx install argcomplete poetry
